---
user:
region:
limit:
eurocore:
  url:
  username:
  password:
webhook:
  id:
  token:
join-message:
move-message:
move-telegram:
  template:
  id:
  secret:
  author:
join-telegram:
  template:
  id:
  secret:
  author:
log:
  level:
  token:
  endpoint:
heartbeat-url: